[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
graphene-django = "*"
requests = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.6"
